{% extends 'base.html.twig' %}

{% block body %}
    <!-- nav -->
    <nav class="text-center text-black">
        <img src="{{ asset('img/logoPROMEO.png') }}" alt="">
        <div id="nav">
            <div class="text" id="text">
                <div id="links">
                    <ul>
                        <li>
                            <a class="main" id="links" href="/article">Home</a>
                        </li>
                        {% if app.user == null %}
                        <li>
                            <a class="secondary" id="links" href="/login">Connexion</a>
                        </li>
                        <li>
                            <a class="secondary" id="links" href="#">Inscription</a>
                        </li>
                        {% endif %}
                        {% if (app.user != null) %}
                        <li>
                            <a class="secondary" id="links" href="/user">Profil</a>
                        </li>
                        <li>
                            <a class="secondary" id="links" href="/user/article/create">Créer un article</a>
                        </li>
                        {% endif %}
                        {% if ( (app.user != null) and ((app.user.roles == ["ROLE_ADMIN"]) or (app.user.roles == ["ROLE_SUPER_ADMIN"])) ) %}
                        <li>
                            <a class="secondary" id="links" href="/user/user/create">Créer un utilisateur</a>
                        </li>
                        <li>
                            <a class="secondary" id="links" href="/user/articles">Gestion des articles</a>
                        </li>
                        <li>
                            <a class="secondary" id="links" href="/user/users">Gestion des utilisateurs</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% if app.user != null %}
                <div class="connected">  
                    <p>(Connecté en tant que <b>{{ app.user.username|default('Anonyme')}}</b>)</p>
                    <a class="main" onclick="return confirm('Voulez-vous vraiment vous déconnecter ?')" href="/logout">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- nav -->
    {% include "alert.html.twig" %}
{% endblock %}