{% extends 'base.html.twig' %}

{% block body %}
    <!-- nav -->
    <nav class="text-center text-black">
        <img src="{{ asset('img/logoPROMEO.png') }}" alt="">
        <div id="nav">
            <div class="text" id="text">
                <div id="links">
                    <ul>
                        <li>
                        <a class="main" id="links" href="/article">Home</a>
                        </li>
                        {% if app.user == null %}
                        <li>
                        <a class="secondary" id="links" href="/login">Connexion</a>
                        </li>
                        <li>
                        <a class="secondary" id="links" href="/register">Inscription</a>
                        </li>
                        {% else %}
                        <li>
                        <a class="secondary" href="/user">Profil</a>
                        </li>
                    </ul>
                </div>
                <div class="connected">  
                    <p>(Connecté en tant que <b>{{ app.user.username|default('Anonyme')}}</b>)
                    <a class="main" onclick="return confirm('Voulez-vous vraiment vous déconnecter ?')" href="/logout">Disconnect</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- nav -->
    {% include "alert.html.twig" %}
{% endblock %}