{% extends 'base.html.twig' %}

{% block title %}Commencer le questionnaire{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <main>
        <div class="container">
            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal text-center">Séléction du questionnaire</h1>
                <div class="card text-center">
                    <!-- input de niveau et langue -->
                </div>
            </div>
        </div>
    </main>
    {% include "footer.html.twig" %}
{% endblock %}
